.padding-oracle {}

.ciphertext-1 {}

.ciphertext-1 * {
    width: fit-content;
    margin: auto;
}

.input-wrapper {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 350px;
}

.input-wrapper input {
    min-width: 0;
    flex-grow: 1;
    text-align: center;
}

.arrow-down {
    position: relative;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
}


.long-arrow-down,
.long-arrow-right {
    display: block;
    margin: 30px auto;
    width: 25px;
    height: 25px;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    margin-bottom: 10px;
}

.long-arrow-down {
    transform: rotate(225deg);
}

.long-arrow-right {
    translate: 30px -20px;
    transform: rotate(135deg);
}

.long-arrow-down::after,
.long-arrow-right::after {
    content: "";
    display: block;
    width: 2px;
    height: 45px;
    background-color: black;
    transform: rotate(-45deg) translate(15px, 4px);
    left: 0;
    top: 0;
}

.initilization-vector-wrapper-div {
    position: absolute;
    width: 100%;
    right: 185px;
    margin-top: 40px;
    z-index: 5;
}

.arrow-init-combo {
    display: flex;
}

.xor-png {
    width: 20px;
    height: 20px;
    margin: auto;
}

.xor-div {
    position: relative;
    height: fit-content;
    padding: 0;

    top: 0px;
    scale: 1.5;
}

.after-xor-div {}

.key-vector-wrapper-div {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 300px;
    margin-top: -10px;
}

.plaintext-1-input {
    z-index: 100;
}